
@mixin primary{
    background-color: #E0E0E0;
    color: black;    
}
@mixin secundary{
    background-color: rgb(105, 105, 105);
    color: white;    
}

@mixin displayColumnCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
@mixin displayRowr{
    display: flex;
    flex-direction: row;
    width: 100%;
}



     
