
@mixin primary{
    background-color: rgb(205, 201, 201);
    color: black;    
}
@mixin secundary{
    background-color: rgb(105, 105, 105);
    color: white;    
}

@mixin displayColumnCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



     
